@tailwind base;
@tailwind components;
@tailwind utilities;


.oauthButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
      /* margin: 50px auto 0 auto; */
    padding: auto 15px 15px auto;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #152250;
    background-color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 250ms;
    position: relative;
    overflow: hidden;
    z-index: 1;
    outline: none;
  }
  
  .oauthButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #152250;
    z-index: -1;
    transition: all 250ms;
  }
  .oauthButton:hover::before {
    width: 100%;
  }

  .oauthButton:hover{
    color: white;
  }
  
  .hide{
    visibility: none;
    display: none;
  }

  /* From Uiverse.io by akshat-patel28 */ 
.button-container {
  display: flex;
  width: full;
  height: 40px;
  align-items: center;
  justify-content: space-around;
}

.button {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-10px);
}
.vms{
  text-shadow: 0 0 5px white;
}

.icon {
  font-size: 20px;
}